.idea
/.idea/
*.iml
/**/*.iml
/.vscode/
/**/**/target/
.flattened-pom.xml

# Logs
logs
*.log
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
yarn.lock
pnpm-lock.yaml

node_modules
node_modules*
.DS_Store
.qoder
dist
*.local

/unpackage

# RuFlo
.claude-flow
/.claude/settings.local.json
.swarm
ruvector.db

/tob-frontend/**/pnpm-workspace.yaml

*.py
docs/superpowers/
.superpowers/
!docs/Mysql表结构/db_util.py


# 忽略 skills 下的所有子目录，但允许进入特定目录
.claude/

!.claude/rules/
!.claude/skills/ui-ux-pro-max/
!.claude/skills/agent-qa-expert/
!.claude/skills/agent-swagger-generator/

!.claude/skills/product-spec-engineer/
!.claude/skills/product-prd-writer/
/.mcp.json
!.claude/skills/frontend-rules/
!.claude/skills/validate-database-schema/
/.claude/
*/.flattened-pom.xml